mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    default "."

config RTT_DIR
    string
    default "./rt-thread"

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

config JSFW_DIR
    string
    default "packages/persimwear-js-fwk"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"
source "$JSFW_DIR/Kconfig"
source "board/Kconfig"
